<div class='story-body'>
    <h2>
        Only a few Ohio Valley colleges would require vaccination for in-person classes in the fall
    </h2>
    <p>
        Map shows four-year private, public, for-profit colleges that offer housing to students in Kentucky, Ohio and West Virginia. The ReSource found <span style='background-color:#dd1c77;opacity:0.7;color:white;'> only three colleges are asking students to get vaccinated if they want to return to the campus.</span>
    </p>
    <p style='text-align:center;'> Circles are sized corresponding to the total number of students enrolled in Fall 2019</p>
    <p class='note' style='text-align:center;'> Hover or click to see details</p>
</div>

<div class='map-container'>
    <div id="map"></div>
</div>
<div class='story-text'>
    <p class='chart-source'>Source: National Center for Education Statistics</p>
    <p class='chart-author'>Suhail Bhat / Ohio Valley ReSource</p>
</div>

<script src="/scripts/college-vaccination-map.js"></script>
